<h1>Criar Cidade</h1>

<ul>
  <% @city.errors.messages.each do |attrib, msg| %>
      <li><%="#{t attrib} #{msg.to_sentence}"%></li>
  <% end %>
</ul>

<%= form_for @city do |f| %>
    <%= f.label :name, "Nome:" %>
    <%= f.text_field :name %><br/>
    <% states_array = @states.map { |state| [state.name, state.id] } %>
    <%= f.label :state_id, "Estado:" %>
    <%= f.select :state_id, options_for_select(states_array, :selected => @city.state_id), {include_blank: 'Selecione'} %><br/>
    <%= f.submit "Criar" %>
<% end %>

<%= link_to 'Voltar', root_path %>