<h1>AÇÕES ADMINISTRADOR SISTEMA</h1>
<%= link_to "Gerenciar cidades", cities_path %> <br/>
<%= link_to "Gerenciar administradores de sistema", users_path %> <br/>
<%= link_to "Gerenciar administradores de loja", users_path %> <br/>
<%= link_to "Gerenciar vendedores de loja", users_path %> <br/>
<%= link_to "Gerenciar produtos", users_path %> <br/>

